*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

*::placeholder {
    color: rgb(177, 177, 177);
}

body {
    height: 100vh;
    background: rgb(38, 38, 38);
}

#header {
    text-align: center;
    color: white;
    font-size: 15pt;
}

#input-output {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 600px) {
    #input-output {
        display: block;
    }
    #output-div {
        margin: 30px;
    }
}

#input {
    text-align: center;
    color: white;
    font-size: 14pt;
}

#name-input {
    margin: 0px;
}

#rarity-select-field {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 0px;;
}

#rarity-input {
    padding: 10px;
    margin: 0px;
}

#rarity-options, #rarity-options ul, #rarity-options li{
    margin-top: 0px;
}

#rarity-options {
    position: absolute;
}

.one-line {
    width: 400px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    outline: none;
    background: rgb(85, 85, 85);
    color: black;
    margin: 5px;
    font-size: 14pt;
}

#rarity-input {
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    background: rgb(85, 85, 85);
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14pt;
    cursor: pointer;
}

#rarity-input:hover {
    background: rgb(116, 116, 116);
}

.hide {
    visibility: hidden;
}

#rarity-options li{
    width: 400px;
    height: 40px;
    outline: none;
    background: rgb(85, 85, 85);
    color: white;
    text-align: left;
    padding: 10px;
    font-size: 14pt;
    list-style: none;
    cursor: pointer;
}

#rarity-options li:hover {
    background: rgb(116, 116, 116);
}

#attunement-input {
    margin: 15px;
    text-align: left;
}

#description-input {
    width: 400px;
    height: 300px;
    padding: 10px;
    border: none;
    outline: none;
    background: rgb(85, 85, 85);
    color: black;
    font-size: 14pt;
    margin-top: 5px;
}

#output-div {
    display: flex;
    justify-content: center;
    background: white;
}

#output {
    border: 5px solid tomato;
    height: 400px;
    width: 300px;
    text-align: center;
    text-wrap: wrap;
    background: white;
    margin: 10px;
}

#cardCanvas {
    background: white;
    margin-bottom: 20px;
    border: 5px solid tomato;
}

#name-output {
    padding: 0px;
    margin: 10px;
    max-height: 38px;
    overflow: hidden;
}

#rarity-attunement-output {
    background: tomato;
    color: white;
    font-size: 9pt;
    padding-top: 5px;
    margin: 0px;
    max-height: 35px;
    min-height: 25px;
    overflow: hidden;
}

#description-output {
    text-align: left;
    margin: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 300px;
    max-height: 305px;
    word-wrap: normal;
    font-size: 9pt;
    overflow: hidden;
    white-space: pre-wrap;
}